<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilosp.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>PERFIL</title>
</head>
<body>
    <!-- Navbar -->
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img class="fs-4" src="{{ url_for('static', filename='img/Logo.png') }}" alt="Logo" width="50%" height="auto" aria-label="Logo">
        </a>
    
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/inicio" class="nav-link active" aria-current="page">Inicio</a></li>
            <li class="nav-item"><a href="/" class="nav-link">Salir</a></li>
        </ul>
    </header>
    <div class="container">
        <h1 class="text-center mt-5 mb-5">Crea tu perfil</h1>
    </div>
    <div class="container">
        <div class="row row-col-2 row-cols-sm-2 row-cols-md-3 row cols-lg-3">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Datos de usuario</h5>
                    </div>
                    <div class="card-body">
                        <div class="container">
                        </div>
                        <div class="container">
                            <table class="table table-horizontal">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Email</th>
                                        <th>Cumpleaños</th>
                                        <th>Rol</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="horizontal-row">
                                        {% for user in usuarios %}
                                            <td>{{ user.nombre }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.cumple }}</td>
                                            <td>{{ user.roll }}</td>
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Perfil De Usuario</h5>
                        <div class="card-body">
                            <ul class="list-group">
                                <div class="row row-col-1 row-cols-sm-1 row-cols-md-2 row cols-lg-2">
                                    <section class="box">
                                        <img src="static/img/16.png" width="180" alt="" class="box-img">
                                    </section>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br>
            <div class="contenedor_datos">
                <div class="area_graficos">
                    <article>
                        <h2>Publicaciones</h2>
                        <section class="zona_historico">
                            <div class="table-responsive">
                                {% for admin in actividades %}
                                <form action="/editar_actividad/{{ admin.publicacion }}" method="post">
                                    <input type="text" name="publicacion" value="{{ admin.publicacion }}">
                                    <input type="text" name="autor" value="{{ admin.autor }}">
                                    <input type="text" name="fecha" value="{{ admin.fecha }}">
                                    <input type="text" name="comentario" value="{{ admin.comentario }}">
                                    <button type="submit">Actualizar</button>

                                    <a href="{{ url_for('eliminar', actividad_buscada=admin.publicacion) }}" onclick="return confirm('¿Está seguro de eliminar el documento con el nombre {{ admin.publicacion }}?')">Eliminar</a>
                                    <hr>
                                </form>
                            {% endfor %}
                            </div>
                        </section>
                    </article>
                </div>
            </div>
            <br><br>
            
    </div>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Funciones</h4>
                <p><a href="/">Inicio</a></p>
                <p><a href="/perfil">Mi Perfil</a></p>
            </div>
            <div class="content-foo">
                <h4>Correo de contacto</h4>
                <p>cronoudec@outlook.com</p>
            </div>
            <div class="content-foo">
                <h4>Ubicación</h4>
                <p>Villa De San Diego De Ubaté</p>
            </div>
            <div class="content-foo">
                <h4>Equipo</h4>
                <p><a href="https://linktr.ee/LuisCarlosRinconGordo">Luis Carlos Rincón</a></p>
                <p><a href="https://github.com/cristian34823">Cristian David Chiguasuque</a></p>
                <p><a href="https://linktr.ee/ThePolanco">Jeison Stiven Polanco</a></p>
            </div>

            

        </div>
        <h2 class="titulo-final">&copy; Crono-Udec | CRONOUDEC</h2>
    </footer>
</body>
</html>